@import "bootstrap-sprockets";
@import "bootstrap";

.main-navigation{
background-color: black;
border: 2px solid black;
border-radius: 5px;
font-weight: bold;
}

.main-navigation a:hover{
color: black;
font-weight: bold;
}

.btn-primary{
color: #ffffff !important;
} 

#logo{
	float: left;
	font-size: 1.7em;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover{
	color: #fff;
	text-decoration: none;
}